body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -.02rem;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 0;
    margin: 0;
}

.purple-color {
    color:rgb(255, 124, 255)
}

.black-highlight {
    background-color: #1a1a1a;
    padding: 0 7px 3px 7px;
    border-radius: 5px;
}
  
#rotating-text {
    transition: opacity 0.4s ease-in-out;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.container video {
    position:relative;
    z-index:0;
    filter: blur(2px);
    opacity: 50%;
}

.container::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(
        69deg, 
        rgba(250,233,251,.3) 0%, 
        rgba(254,140,255,.3) 35%, 
        rgba(246,142,255,.3) 37%, 
        rgba(145,140,255,.3) 79%, 
        rgba(67,35,255,.3) 100%);
}

.container {
    position: relative;
}
